/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Zag-Regular';
    src: url(/assets/Zag-Regular.otf);
}

body {
    font-family: 'Zag-Regular' !important;
}

@font-face {
    font-family: 'Zag-Bold';
    src: url(/assets/Zag-Bold.otf);
}

.card {
    border: 2px solid;
}

.fraggeTitulo {
    font-family: 'Zag-Bold'
}

.bordereto {
    border: 2px solid;
    background-color: #e1f4fd;
}

.impar {
    background-color: white;
}