@font-face {
    font-family: 'Zag-Regular';
    src: url(/assets/Zag-Regular.otf);
}

body {
    font-family: 'Zag-Regular' !important;
}

@font-face {
    font-family: 'Zag-Bold';
    src: url(/assets/Zag-Bold.otf);
}